@import url(https://fonts.googleapis.com/css?family=Roboto);

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #f5fafd;

    margin: 0;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main, header, footer {
  padding: 0 15px;
}

@media (min-width: 575.98px){
  main, header, footer {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px){
  main, header, footer {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 991.98px) {
  main, header, footer {
    padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1199.98px){
  main, header, footer {
    padding: 0 calc(50vw - 590px);
  }
}

#start {
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
}

#display {
  height: 5rem;
  padding: 1rem;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

input,
textarea {
	background-color: transparent;
	border: none;
	resize: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	outline: none;
}

#form {
  width: 100%;
}

.form-group {
  position: relative;
  padding-top: 1.75rem;
  margin-bottom: 1rem;
}

.form-group #input {
  text-align: center;
  width: 100%;
  height: calc(1.5em + 6rem + 2px);
  padding: 3rem 0;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  transition: border 20ms;

  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.form-group #input:focus {
  border: 2px solid #00BCD4;
}


.correct {
  color: #03a9f4;
}
